.Loader {
  width: 5rem;
  height: 5rem;

  border: 0.8rem solid white;
  border-top: 0.8rem silver solid;
  border-radius: 50%;

  animation: spin 1s linear infinite;

  margin-bottom: 2.5rem;
  margin-right: 13rem;

  @keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
}
