@import "./src/varieble";

.Button {
  cursor: pointer;

  text-align: center;

  color: var(--defaultButtonColor);
  background-color: var(--defaultBgColor);

  border-radius: 1rem;

  padding-left: 0.6rem;
  padding-right: 0.6rem;

  &:hover{
    background-color: var(--defaultHoverBgColor);

    transition: 1s;
  }
}
