@import "../../variable";

@mixin cell($color){
  max-height: 5.9rem;
  max-width: 11.5rem;

  cursor: pointer;

  display: flex;
  flex-direction: column;

  color: $color;

  font-size: 1rem;

  border-top: var(--defaultBorderColor) 0.1rem solid;
  border-right: var(--defaultBorderColor) 0.1rem solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background-color: var(--defaultBgColor);

  padding-top: 0.25rem;
  padding-left: 0.25rem;

  &:nth-child(7n){
    border-right: silver 0rem solid;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-top: 4rem;
  margin-left: 10rem;
}

.Calendar {
  width: 80rem;
  height: 40rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.4fr repeat(6, 1fr);

  border: var(--defaultBorderColor) 0.1rem solid;
  border-radius: 1rem;

  background-color: var(--defaultBgColor);

  margin-right: 5rem;

  box-shadow: 0 0 10px var(--defaultShadowColor);

  &__header {
    width: 79rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cell {
    @include cell(var(--defaultUnActiveMonthColor));

    &:hover {
      background-color: var(--defaultHoverColor);
    }
  }

  &__activeMonth {
    @include cell(var(--defaultActiveMonthColor));

    &:hover {
      background-color: var(--defaultHoverColor);
    }
  }

  &__currentDay {
    @include cell(red);

    &:hover {
      background-color: var(--defaultHoverColor);
    }
  }

  &__weekDay{
    border: 0rem white solid;
    border-radius: 1rem;

    color: silver;
    background-color: var(--defaultBgColor);

    font-size: 2rem;
    text-align: center;

    padding: 1rem;
  }
}
