@mixin cell($color){
  max-height: 5.9rem;

  cursor: pointer;

  display: flex;
  flex-direction: column;

  color: $color;

  font-size: 1rem;

  border-top: silver 0.01rem solid;
  border-right: silver 0.01rem solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background-color: white;

  padding-top: 0.25rem;
  padding-left: 0.25rem;

  transition: 1s;

  &:nth-child(7n){
    border-right: silver 0rem solid;
  }
}

.Calendar {
  width: 80rem;
  height: 40rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.4fr repeat(6, 1fr);

  border: silver 0.1rem solid;
  border-radius: 1rem;

  background-color: white;

  margin-right: 5rem;

  box-shadow: 0 0 10px silver;

  &__cell {
    @include cell(silver);
  }

  &__cellTitle{
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 0.1rem;
  }

  &__activeMonth {
    @include cell(black);

    &:hover {
      background-color: whitesmoke;
    }
  }

  &__currentDay {
    @include cell(red);

    &:hover {
      background-color: whitesmoke;
    }
  }

  &__weekDay{
    border: 0rem white solid;
    border-radius: 1rem;

    color: silver;
    background-color: white;

    font-size: 2rem;
    text-align: center;

    padding: 1rem;
  }

  &__tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: auto;

    gap: 1rem;
  }

  &__task {
    color: rgba(0, 0, 0, 0.65);

    padding: 0.2rem;

    background-color: beige;

    border-radius: 1rem;
  }
}

