.Input{
  height: 5rem;
  width: 15rem;

  border: silver solid;
  border-radius: 1rem;

  text-align: start;

  resize: none;
  overflow: auto;

  margin: 1rem 0;
  padding: 0.5rem;

  transition: 0.5s;

  &:focus {
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.1);
  }

  &::-webkit-scrollbar{
    border: none;

    &-thumb{
      border: none;
    }
  }
}
