.Container{
  margin-top: 4.5rem;

  border-top: 0.1rem silver solid;
  border-right: 0.1rem silver solid;
  border-bottom: 0.1rem silver solid;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;

  box-shadow: 0 0 10px silver;
}

.AsideBar {
  width: 20rem;
  height: 40rem;

  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  padding: 1rem;

  &::-webkit-scrollbar {
    border: none;

    &-thumb {
      border: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    margin: 0rem 0 2rem 2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;

    margin: 0 0 1rem;
  }

  &__date {
    color: rgba(0, 0, 0, 0.65);
  }

  &__tasksIsEmpty {
    font-weight: normal;
    font-size: 2.5rem;
  }

  &__task {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    margin-bottom: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    text-align: center;

    gap: 1rem;

    font-size: 1.5rem;

    margin: 1rem;
    padding: 1rem 1rem 1rem 0.7rem;

    &Color{
      width: 1.5rem;
      height: 1.5rem;

      border-radius: 50%;
      box-shadow: 0 0 10px silver;

      margin: auto;
    }
  }

  &__buttonArea {
    font-size: 3rem;

    border-bottom-right-radius: 0.5rem;

    &:hover{
      background-color: silver;

      transition: 1s;
    }
  }
}
