* {
  font-family: 'Open Sans';

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  list-style-type: none;
}

.App {
  display: flex;
  justify-content: start;
  align-items: start;

  margin-top: -3rem;
}
